@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #333;
}

table {
    border-collapse: collapse;
}
img {
    vertical-align: top;
}
fieldset, button, img {
    border: 0;
}
legend {
    font-size: 0;
    color: transparent;
    text-indent: -9999px;
}
input {
    outline: 0;
    border: 0;
    font-size: 1rem;
    text-indent: 7px;
}
button {
    background: none;
    cursor: pointer;
}
.autoH::after {
    content:"";
    display: block;
    clear: both;
}
