@charset "UTF-8";

@import url(reset.css);
@import url(font.css);
@import url(common.css);

$mainColor:#ff3600;


header {
  height: 300px;

  .login_box_bg {
    width: 100%;
    height: 50px;
    position: absolute;
    top: 0;
    left: 0;
    background: #ff3600;
    z-index: -1;

    span {
        width: 100%;
        height: 100%;
        display: block;
        text-align: center;
        line-height: 50px;
        font-weight: bold;
        font-size: 20px;
        color: #fff;


    }
  }
  .search_box {
    width: 350px;
    height: 50px;
    margin-bottom: 16px;
    border-radius: 10px;
    background: #ff3600;
    padding: 6px;
    box-sizing: border-box;
    display: flex;
    gap: 5px;
    position: absolute;
    top: 0px;
    right: 25%;
    z-index: -5;

    input {
        background: #fff;
        flex-grow: 1;
        border-radius: 7px;
        font-size: 16px;
    }
    button {
        width: 38px;
        height: 38px;
        font-size: 32px;
        color: #fff;
    }


  }

  .centerbox {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 210px;
    justify-content: space-between;
  }


  .log_box {
    height: 50px;
    display: flex;
    align-items: center;

    a {
        font-size: 30px;
        margin-left: 10px;
        color: #fff;
        // padding: 0 14px;
        // display: inline-flex;
        // align-items: center;
        
        &:hover .search_box {
            top: 50px;
        }
    }
    .basket_ea {
        width: 23px;
        height: 23px;
        background: #fff;
        color: #ff3600;
        display: inline-block;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 7px;
    }
    .logout {
        display: none;
      }
}


  h1 {
    width: 184px;
    height: 85px;
    position: absolute;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    margin-top: 30px;
  }

  
  .gnb_box {
    height: 75px;
    width: 100%;
    margin-top: 30px;

    nav {
        width: 1200px;
        margin: 0 auto;
        height: 100%;

        .gnb {
            height: 100%;
            display: flex;
            gap: 10px;
            justify-content: center;

            > li {
                // flex: 1 1 0;
                position: relative;

                > a {
                    display: flex;
                    height: 20px;
                    font-size: 16px;
                    justify-content: center;
                    align-items: center;
                    background: #ff3600;
                    border-radius: 40px;
                    color: #fff;
                    padding: 10px;
                    position: relative;

                    &:hover {
                        animation: tong 0.5s;
                    }
                    @keyframes tong {
                        0% {top: 10px;}
                        100% {top: 0;}
                    }
    
                }
                .lnb_box {
                    width: 120%;
                    position: absolute;
                    left: 50%;
                    transform: translateX(-50%);
    
                }
                
                }
            }
        }
    }
}
//   .log_box {
//     float: right;
//     width: 100%;
//     text-align: right;
//     height: 50px;
//   }

//   h1{
//     width: 210px;
//     height: 110px;
//     position: absolute;
//     left: 50%;
//     top: 60px;
//     transform: translateX(-50%);
//     border: 1px solid #000;
//   }

//   .search_box {
//     float: right;
//     width: 350px;
//     height: 50px;
//     margin-top: 90px;
//   }

//   .log_box .logout {
//     display: none;
//   }

//   .gnb_box {
//     height: 75px;
//     background: #ff3600;
//     float: left;
//     width: 100%;
//     margin-top: 10px;
//   }



#visual {
  height: 660px;
  background: url(../images/visual.jpg);
  border-top: 1px solid #ff3600;
  border-bottom: 1px solid #ff3600;
  position: relative;

  span {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    font-size: 100px;
    font-family: 'RixInooAriDuriR';
    color: #ff3600;
  }
}

#section_box section {padding: 100px 0;}
#section_box h2 {
  font-size: 40px; 
  color: #3e3d3d; 
  text-align: center; 
  margin-bottom: 60px;

        span {
          font-size: 20px; 
          color: #636363; 
          display: block; 
          margin-top: 15px;}
        }

#section1 {


  .cont {
    display: grid; 
    gap: 55px 20px; 
    grid-template-columns: 277px 277px 277px 277px; 
    grid-template-rows: 280px 280px;

      li {position: relative;

      

          figure {
            height: 197px; 
            overflow: hidden;
            border: 1px solid #ff3600;

            img {
              width: 100%;
            }
          }
          .title {
            font-size: 16px; 
            color: #3e3d3d; 
            height: 37px; 
            margin-top: 17px; 
            display: flex; 
            align-content: center; 
            justify-content: space-between;
          
              .favorite {font-size: 30px;}
              .no-favorite {
                font-size: 30px; 
                display: none;
              }
          }
          .price {
            font-size: 14px; 
            color: #3e3d3d; 
            height: 37px;
          }
      }
      li:nth-child(1) {
        grid-column: span 2; 
        grid-row: span 2; 
        overflow: hidden; 
          
          .cont_ex {
            position: absolute;
            bottom: 0; 
            width: 100%; 
            background: #ff3600;
            padding: 0 55px; 
            box-sizing: border-box; 
            padding-bottom: 13px;
          
              .title {color: #fff;}
              .price {color: #fff;}
          }
          figure {height: 100%;}
      }
  }
}

#section2 {
    width: 100%;
    height: 200px;
    background: #ff3600;
    position: relative;
    overflow: hidden;

    .sale {
      font-size: 60px;
      color: #fff;
      font-family: 'RixInooAriDuriR';
      position: absolute;
      top: 0;
      left: -50px;
      white-space: nowrap;

    }
    .sale2 {
      font-size: 60px;
      color: #fff;
      font-family: 'RixInooAriDuriR';
      position: absolute;
      bottom: 0;
      left: -50px;
      white-space: nowrap;
    }
    ul {display: flex;
      gap: 20px;

      li {
        width: 270px;
        height: 200px;
        background: #fff;
      }
    }
}

#section3 {


  .cont {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
      li {position: relative;

          figure {
            height: 197px; 
            overflow: hidden;
            border: 1px solid #ff3600;

          }
          .title {
            font-size: 16px; 
            color: #3e3d3d; 
            height: 37px; 
            margin-top: 17px; 
            display: flex; 
            align-content: center; 
            justify-content: space-between;
          
              .favorite {font-size: 30px;}
              .no-favorite {
                font-size: 30px; 
                display: none;
              }
          }
          .price {
            font-size: 14px; 
            color: #3e3d3d; 
            height: 37px;
          }
        }
          figure {height: 100%;}
      }
  }

  #section4 {
    width: 100%;
    height: 200px;
    background: #fff;
    position: relative;
    border-top: 1px solid #ff3600;
    border-bottom: 1px solid #ff3600;
    display: flex;
    justify-content: center;
}

#section5 {



  .cont {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    
    li {
      width: 380px;
      height: 560px;
      background: #fff;
      box-shadow: 2px 2px 10px 1px #aaa;
      border-radius: 50px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      figure {
        width: 340px;
        height: 380px;
        overflow: hidden;
        border-radius: 50px;
        margin-bottom: 25px;
      }
      .text_box {
        text-align: center;
        color: #000;
      }
    }

  }
}

footer {
  height: 300px;
  display: flex;
  justify-content: space-between;
  background: #ff3600;
  

  .text_f {
    padding: 20px;
    color: #fff;
    line-height: 20px;
    font-weight: 600;
  }
}

.centerbox {
    width: 1200px;
    margin: 0 auto;
}

